{% extends "layout.html" %}
{% block css_this_page %}page.css{% endblock %}
{% block title %}
{% if page.first%}
{{blog.name}}
{% else %}
Page {{page.number}} | {{blog.name}} 
{%endif%}
{% endblock %}

{% block content %}
{% for post in page.posts %}
<div class="post{% if post.title_pic %} post-with-title-pic {% else %} post-without-title-pic {% endif %}">
  <h1 class="title">
    <a class="title" href="/post/{{post.name}}.html" title="{{post.title}}" >{{post.title}}</a>
    {% if post.title_pic %}
    <a class="date">{{post.datetime.strftime("%b  %d, %y")}}</a>
    {% endif %}
  </h1>
  {% if post.title_pic %}
  <div class="title-pic-preview" style="background-image: url({{post.title_pic}});"></div>
  <a href="/post/{{post.name}}.html" title="{{post.title}}" class="entry-link"></a>
  <div class="spinner" style="background-image:url(/{{blog.theme}}/static/images/spinner-circle-fade.gif)"></div>
  {% else %}
  <div class="date">{{post.datetime.strftime("%b  %d, %y")}}</div>
  <div class="post-html summary">{{post.summary}}</div>
  <p class="read-more"><a href="{{root_path}}/post/{{post.name}}.html" title="Read more"> ··· </a><p>
  {% endif %}
</div>
{% endfor %}
<p class="paging">
{% if page.first == False %}
<a class="prev" title="Previous Page" href="{%if page.number == 2%}/{%else%}{{root_path}}/page/{{page.number-1}}.html{%endif%}"> < </a>
{%endif%}
{% if page.last == False %}
<a class="next" title="Next Page" href="/page/{{page.number+1}}.html"> > </a>
{%endif%}
</p>
{% endblock %}
