<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{blog.name}}</title>
    {# Due to wkhtmltopdf, this path should be absolute #}
    <link rel="stylesheet" href="{{BLOG_ABS_PATH}}/{{blog.theme}}/static/css/pdf.css" type="text/css"/>
    <style type="text/css">
      img {
        page-break-inside: avoid !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        {% for post in posts %}
        <h1 class="title">{{post.title}}</h1>
        <p class="date">{{post.datetime.strftime("%b  %d, %y")}}</p>
        {% if post.title_pic %}
        <div class="title-pic-container" style="position: relative">
          <img style="position:relative" src="{{post.title_pic}}" alt="{{post.title}}" class="title-pic"/>
        </div>
        {% endif %}
        <div class="post-html">
          {{post.html}}
        </div>
        <div class="cut">***</div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
